#projects {
  padding-block: 72px 144px;

  header {
    text-align: center;
    margin-bottom: 56px;

    h3 {
      color: var(--red);
    }
  }

  & > div {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
  }

  #card {
    padding: 12px;
    background-color: var(--gray-400);
    border-radius: 12px;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 8px;
    }

    & > div {
      margin-top: 20px;
      padding: 4px;

      p {
        color: var(--gray-200);
        margin-top: 8px;
      }
    }
  }
}

#services {
  padding-block: 88px 120px;
  background-color: var(--gray-600);

  header {
    text-align: center;
    margin-bottom: 56px;

    h3 {
      color: var(--red);
    }
  }

  & > div {
    gap: 24px;
    justify-content: center;
    grid-template-columns: repeat(3, 280px);

    & > div {
      padding: 20px;
      border: 1px solid var(--gray-500);
      border-radius: 12px;
    }
  }
}
